USE [ReportData]
GO
/****** Object:  StoredProcedure [dbo].[usp_XBR_EXPORT]    Script Date: 8/19/2022 3:44:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  procedure [dbo].[usp_XBR_EXPORT]
as

/* convert the as400 date to yyyy-mm-dd */

/*UPDATE XBR_STORE_MASTER*/

UPDATE XBR_STORE_MASTER
SET 
LAST_INVENTORY_DATE_CNV = 
substring([LAST_INVENTORY_DATE],5,2)+'/'+substring([LAST_INVENTORY_DATE],7,2)+'/'+substring([LAST_INVENTORY_DATE],1,4)
	where (last_inventory_date <> 999999 and last_inventory_date <> 0);

UPDATE XBR_STORE_MASTER
SET 
DATE_OPENED_CNV = CONVERT(VARCHAR(10),REPORTDATA.dbo.fn_IntToDate_AS400(DATE_OPENED),101)
    where (date_opened <> 0);

UPDATE XBR_STORE_MASTER
SET
DATE_CLOSED_CNV = CONVERT(VARCHAR(10),REPORTDATA.dbo.fn_IntToDate_AS400(DATE_CLOSED),101)
    where (date_closed <> 0);

UPDATE XBR_STORE_MASTER
SET
COMP_DATE_CNV = CONVERT(VARCHAR(10),REPORTDATA.dbo.fn_IntToDate_AS400(COMP_DATE),101)
    where (comp_date <> 0);

/*convert dates that are zero to blanks */
UPDATE XBR_STORE_MASTER
SET LAST_INVENTORY_DATE_CNV = ' ' where (last_inventory_date = 0);

UPDATE XBR_STORE_MASTER
SET DATE_OPENED_CNV = ' ' where (date_opened = 0);

UPDATE XBR_STORE_MASTER
SET DATE_CLOSED_CNV = ' ' where (date_closed = 0);

UPDATE XBR_STORE_MASTER
SET COMP_DATE_CNV = ' ' where (comp_date = 0);

UPDATE XBR_STORE_MASTER
SET DIVISION = 300 
WHERE STORE_NUMBER < 2100;

UPDATE XBR_STORE_MASTER
SET DIVISION = 500 
WHERE STORE_NUMBER >= 2100 and STORE_NUMBER <= 2999;

UPDATE XBR_STORE_MASTER
SET DIVISION = 400 
WHERE STORE_NUMBER > 2999;


UPDATE XBR_STORE_MASTER
SET [OPEN_TIME_M] = 
(SELECT TBLSTRT.MONDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[OPEN_TIME_T] = 
(SELECT TBLSTRT.TUESDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[OPEN_TIME_W] = 
(SELECT TBLSTRT.WEDNESDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[OPEN_TIME_TH] = 
(SELECT TBLSTRT.THURSDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[OPEN_TIME_F] = 
(SELECT TBLSTRT.FRIDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[OPEN_TIME_SA] = 
(SELECT TBLSTRT.SATURDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[OPEN_TIME_SU] = 
(SELECT TBLSTRT.SUNDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST01'),
[CLOSE_TIME_M] = 
(SELECT TBLSTRT.MONDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02'),
[CLOSE_TIME_T] = 
(SELECT TBLSTRT.TUESDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02'),
[CLOSE_TIME_W] = 
(SELECT TBLSTRT.WEDNESDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02'),
[CLOSE_TIME_TH] = 
(SELECT TBLSTRT.THURSDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02'),
[CLOSE_TIME_F] = 
(SELECT TBLSTRT.FRIDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02'),
[CLOSE_TIME_SA] = 
(SELECT TBLSTRT.SATURDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02'),
[CLOSE_TIME_SU] = 
(SELECT TBLSTRT.SUNDAY FROM TBLSTRT
WHERE XBR_STORE_MASTER.STORE_NUMBER = TBLSTRT.STORE_NUMBER AND TBLSTRT.OPEN_CLOSE_FLAG = 'ST02');

/* IF THERE ARE NO STORE HOURS - PUT IN SPACE */

UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_M] = ' '  WHERE [OPEN_TIME_M] IS NULL;
 
UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_T] = ' '  WHERE [OPEN_TIME_T] IS NULL;

UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_W] = ' '  WHERE [OPEN_TIME_W] IS NULL;

UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_TH] = ' '  WHERE [OPEN_TIME_TH] IS NULL;

UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_F] = ' '  WHERE [OPEN_TIME_F] IS NULL;

UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_SA] = ' '  WHERE [OPEN_TIME_SA] IS NULL;

UPDATE XBR_STORE_MASTER SET  [OPEN_TIME_SU] = ' '  WHERE [OPEN_TIME_SU] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_M] = ' '  WHERE [CLOSE_TIME_M] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_T] = ' '  WHERE [CLOSE_TIME_T] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_W] = ' '  WHERE [CLOSE_TIME_W] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_TH] = ' '  WHERE [CLOSE_TIME_TH] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_F] = ' '  WHERE [CLOSE_TIME_F] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_SA] = ' '  WHERE [CLOSE_TIME_SA] IS NULL;

UPDATE XBR_STORE_MASTER SET  [CLOSE_TIME_SU] = ' '  WHERE [CLOSE_TIME_SU] IS NULL;




UPDATE XBR_STORE_MASTER
SET STORE_NAME = (SELECT REPLACE(STORE_NAME,'|',' '))

truncate table reportdata.dbo.XBR_STORE_MASTER_EXPORT
insert into reportdata.dbo.XBR_STORE_MASTER_EXPORT
SELECT [store_number]
      + '|' + [division]
      + '|' + CAST([region_number] AS VARCHAR(4))
      + '|' + CAST([district_number] AS VARCHAR(4))
      + '|' + rtrim([store_name])
      + '|' + rtrim([phone_number])
      + '|' + CAST([date_opened_cnv] AS VARCHAR(10))
      + '|' + CAST([date_closed_cnv] AS VARCHAR(10))
      + '|' + CAST([comp_date_cnv] AS VARCHAR(10))
      + '|' + [MALL_TYP]
      + '|' + CAST([last_inventory_date_cnv] AS VARCHAR(10))
      + '|0|0|' + [comp_flag]
      + '|' + CAST([num_of_registers] AS VARCHAR(10))
      + '|' +[OPEN_TIME_M]
      + '|' +[CLOSE_TIME_M]
      + '|' +[OPEN_TIME_T]
      + '|' +[CLOSE_TIME_T]
      + '|' +[OPEN_TIME_W]
      + '|' +[CLOSE_TIME_W]
      + '|' +[OPEN_TIME_TH]
      + '|' +[CLOSE_TIME_TH]
      + '|' +[OPEN_TIME_F]
      + '|' +[CLOSE_TIME_F]
      + '|' +[OPEN_TIME_SA]
      + '|' +[CLOSE_TIME_SA]
      + '|' +[OPEN_TIME_SU]
      + '|' +[CLOSE_TIME_SU]
FROM [ReportData].[dbo].[XBR_STORE_MASTER];

update XBR_SKU_MASTER
set
isbn10 = (select max(invupc.upc) from invupc where xbr_sku_master.INUMBER = invupc.sku and invupc.upc_code = 'I'),
isbn13_ean = (select max(invupc.upc) from invupc where xbr_sku_master.INUMBER = invupc.sku and invupc.upc_code = 'E'),
upc = (select max(invupc.upc) from invupc where xbr_sku_master.INUMBER = invupc.sku and invupc.upc_code in ('A','G','H'));

UPDATE XBR_SKU_MASTER
SET DESCR = (SELECT REPLACE(DESCR,'|',' '));
UPDATE XBR_SKU_MASTER
SET VENDOR_ID = (SELECT REPLACE(VENDOR_ID,'|',' '));

/* CANNOT HAVE NULLS IN DATA FOR EXPORT */
UPDATE XBR_SKU_MASTER SET [inumber] = ' '  WHERE [inumber] IS NULL;
UPDATE XBR_SKU_MASTER SET [DESCR] = ' '  WHERE [DESCR] IS NULL;
UPDATE XBR_SKU_MASTER SET [DEPT] = ' '  WHERE [DEPT] IS NULL;
UPDATE XBR_SKU_MASTER SET [SUBDEPT] = ' '  WHERE [SUBDEPT] IS NULL;
UPDATE XBR_SKU_MASTER SET [CLASS] = ' '  WHERE [CLASS] IS NULL;
UPDATE XBR_SKU_MASTER SET [SUBCLASS] = ' '  WHERE [SUBCLASS] IS NULL;
UPDATE XBR_SKU_MASTER SET [UPC] = ' '  WHERE [UPC] IS NULL;
UPDATE XBR_SKU_MASTER SET [VENDOR_ID] = ' '  WHERE [VENDOR_ID] IS NULL;
UPDATE XBR_SKU_MASTER SET [COST] = '0.0'  WHERE [COST] IS NULL;
UPDATE XBR_SKU_MASTER SET [RETAIL] = '0.0'  WHERE [RETAIL] IS NULL;
UPDATE XBR_SKU_MASTER SET [ISBN10] = ' '  WHERE [ISBN10] IS NULL;
UPDATE XBR_SKU_MASTER SET [ISBN13_EAN] = ' '  WHERE [ISBN13_EAN] IS NULL;

truncate table reportdata.dbo.XBR_SKU_MASTER_EXPORT
INSERT INTO reportdata.dbo.XBR_SKU_MASTER_EXPORT
SELECT 
	rtrim([INUMBER]) + '|' +
	RTRIM([DESCR])  + '|' +
	rtrim([DEPT])  + '|' +
	rtrim([SUBDEPT])  + '|' +
	rtrim([CLASS])  + '|' +
	rtrim([SUBCLASS])  + '|' +
    rtrim([ISBN10])  + '|' +
	rtrim([ISBN13_EAN])	+ '|' +
    rtrim([UPC])  + '|' +
	rtrim([VENDOR_ID])  + '|' +
	CAST([COST] AS VARCHAR (20))  + '|' +
	CAST([RETAIL] AS VARCHAR (20)) 	
FROM reportdata.dbo.XBR_SKU_MASTER


GO
