USE [Markdowns]
GO
/****** Object:  Table [dbo].[AppData]    Script Date: 08/23/2022 14:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AppData](
	[DataName] [varchar](20) NOT NULL,
	[DataValue] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
