USE [Markdowns]
GO
/****** Object:  Table [dbo].[storeno_md]    Script Date: 08/23/2022 14:29:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[storeno_md](
	[StoreNo] [smallint] NOT NULL
) ON [PRIMARY]
GO
